<div>
  <div class="nav-container">
    <div>
      <button class="nav-home" routerLink="">Website Angular</button>
    </div>
    <div>
    </div>
    <div>
      <button class="nav-button-business" routerLink="for-business">For business</button>

      <button class="nav-button-login" routerLink="login">Login</button>

      <button class="nav-button-subscribe" routerLink="subscribe">Subscribe</button>
    </div>
  </div>
</div>


        <!-- <button class="nav-button-home" (click)="OnHomeClick()">Website Angular</button> -->
