  <div class="nav-container">
    <div>
      <button class="nav-home" routerLink="">Home</button>
    </div>
    <div>
      <ol class="button-container">
        <button class="nav-button-business" routerLink="for-business">For business</button>
        <button class="nav-button-login" routerLink="login">Login</button>
        <button class="nav-button-subscribe" routerLink="subscribe">Subscribe</button>
      </ol>
    </div>
  </div>


        <!-- <button class="nav-button-home" (click)="OnHomeClick()">Website Angular</button> -->
