<div class="form-container">
  <br>
  <p class="Text-description">
    Welcome business <br>
  </p>
  <p class="Text-description">This page is for companies that want to hire our services.</p><br>
</div>
<div class="form-direction">
  <form>
    <div class="form-group">
        <label for="inputEmail4">Name of business</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="address">
      </div>
      <div class="form-group">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" placeholder="city">
        <label for="inputZip">ZipCode</label>
        <input type="text" class="form-control" id="inputZip" placeholder="zipcode">
        <label for="inputZip">Phone</label>
        <input type="text"  class="form-control" id="inputZip" placeholder="phone">
        <label for="inputZip">login</label>
        <input type="text"  class="form-control" id="inputZip" placeholder="login">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div><br>
    <div class="form-group">
      <div class="form-check">
      </div>
      <button type="submit" class="btn-primary">Sign in</button>
    </div>
  </form>
</div>
