  <section class="img-notebook" id="bk-notebook">
    <img src="../../../assets/Imgs/img-note-black.png" alt="">
    <aside class="Text-info position">
      Become a Programmer
      Confident and professional professional
      to a market where there are plenty
      vacancies and lack of professionals
    </aside>
    <aside class="position-plus-info">
      <div id="seta"></div>
      <ol class="spacing-word">
         Even if you are a complete beginner.
      </ol>
      <div id="seta"></div>
      <ol class="spacing-word">
        Organized and directed study plan.
      </ol>
      <div id="seta"></div>
      <ol class="spacing-word">
        Access to the best opportunities in the area.
      </ol>
    </aside>
  </section>
  <button class="position-button">I want to know more</button>
