<section>
      <img src="../../../assets/Imgs/img-note-black.png"  alt="">
      <aside class="Text-info position">
        Become a Programmer
        Confident and professional professional
        to a market where there are plenty
        vacancies and lack of professionals
      </aside>
      <aside class="position-plus-info">
        <div id="seta"></div>
        <ol class="spacing-word">
          Even if you are a complete beginner.
        </ol>
        <div id="seta"></div>
        <ol class="spacing-word">
          Organized and directed study plan.
        </ol>
        <div id="seta"></div>
        <ol class="spacing-word">
          Access to the best opportunities in the area.
        </ol>
      </aside>
      <button class="position-button">I want to know more</button>
        <p class="Text-up-video">
          Access forever to all
          content already available and future
          updates and improvements.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kirjakF8yh4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>
