/* .Container-info {
  display: flex;
  width: 100%;
  background-color: blue;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.Text-info {
  display: flex;
  /* background-color: rgb(110, 252, 8); */
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin: 30px;
  margin-top: 327px;
  padding: 5px;

}

.Plus-info {
  display: flex;
  /* background-color: rgb(110, 252, 8); */
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5em;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin: 30px;
  margin-top: 327px;
  padding: 5px;
}

.position {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 400px;
  height: 0px;

}
.position-plus-info {
  position: absolute;
  left: 200px;
  top: 70px;
  width: 400px;
  height: 0px;

}

.img-notebook {
  width: 100%;
  height: auto;
  /* height: 447px; */
}
