.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 413%;

}

.card-info-1 {
  display: flex;
  border: 2px solid black;
  border-radius: 6px;
  color: black;
  margin: 60px;
  width: 230px;

}
.card-info-2 {
  display: flex;
  border: 2px solid black;
  border-radius: 6px;

  color: black;
  margin: 60px;
  width: 230px;

}
.card-info-3 {
  display: flex;
  border: 2px solid black;
  border-radius: 6px;

  color: black;
  margin: 60px;
  width: 230px;


}

.img-infinity {
  width: 24px;
}

.img-hearphone {
  width: 22px;
}

.box-info-1 {
  padding: 11px;
}
