.container-cards {
  /* background-color: #5d3d0c; */
  display: flex;
  justify-content: center;
  align-items: start;
  /* flex-direction: row; */

  /* padding-bottom: 12px; */
}

.card-info-1 {
  display: flex;
  background-color: red;
  border: 100px;
  border-radius: 6px;
  /* border-color: rgb(14, 14, 212); */
  color: white;
  margin: 60px;
  width: 230px;
  /* flex-direction: row; */
  /* flex-direction: row; */

}
.card-info-2 {
  display: flex;
  background-color: blueviolet;
  border: 100px;
  border-radius: 6px;
  /* border-color: rgb(14, 14, 212); */
  color: white;
  margin: 60px;
  width: 230px;
  /* justify-content: flex-start; */
  /* flex-direction: row; */

}
.card-info-3 {
  display: flex;
  background-color: yellowgreen;
  border: 100px;
  border-radius: 6px;
  /* border-color: rgb(14, 14, 212); */
  color: white;
  margin: 60px;
  width: 230px;
  /* justify-content: flex-start; */
  /* flex-direction: row; */

}

.img-infinity {
  width: 24px;
}

.box-info-1 {
  padding: 11px;
}
