<div class="container-cards">
  <div class="card-info-1">
    <div class="box-info-1">
      <img class="img-infinity" src="../../../assets/Imgs/infinity_fill_icon.png" alt="infinity"><br>
      <p class="">
        1. Lifetime Access<br>
        (Classes + Updates)
      </p><br>
      <p>
        Access forever to all
    content already available and future
    updates and improvements.
      </p>
    </div>
  </div>
  <div class="card-info-2">
    <div class="box-info-1">
      <img class="img-infinity" src="../../../assets/Imgs/infinity_fill_icon.png" alt="infinity"><br>
      <p class="">
        1. Lifetime Access<br>
        (Classes + Updates)
      </p><br>
      <p>
        Access forever to all
    content already available and future
    updates and improvements.
      </p>
    </div>
  </div>
  <div class="card-info-3">
    <div class="box-info-1">
      <img class="img-infinity" src="../../../assets/Imgs/infinity_fill_icon.png" alt="infinity"><br>
      <p class="">
        1. Lifetime Access<br>
        (Classes + Updates)
      </p><br>
      <p>
        Access forever to all
    content already available and future
    updates and improvements.
      </p>
    </div>
  </div>
</div>
