  <div class="form-container-subscribe">
    <br>
    <p class="Text-login">
      Subscribe
      <br><br>
    </p>
  </div>
  <div class="form-direction">
    <form>
      <div class="form-group-login">
          <label for="inputEmail4">FirstName</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="FirstName">
          <label for="inputEmail4">LastName</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="LastName">
          <label for="inputEmail4">UserName</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Username">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          <label for="inputPassword4">Confirm Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Co-Password">
      </div>
      <div class="form-group-login">
        <button type="submit" class="btn-primary">sing in</button>
      </div>
    </form>
  </div>
